<b>fsafgagd gfds <strong> gsdg fds gdsf gfds</b>
    <h4>Inline elements</h4>
<am>All is </am> <abbr title="fumbled beyond any reason">Fubar</abbr> ~ <cite><a href="#"> Annonymous</a></cite>
<span>bardzo długi tekst, bardzo długi tekst, bardzo długi tekst, bardzo długi tekst, bardzo długi tekst</span>
<style>span{
    outline: 1px solid red;
    display: block;
}</style>