html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.75;
  color: #000000;
}

:root {
  --no-alcohol-color: rgb(20, 124, 29);
  --alcohol-color: rgb(80, 33, 0);
  --primary-color:rgba(0, 59, 59, 0.952);
}

.icon {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.383rem;
}

h2 {font-size: 1.296rem;}

h3 {font-size: 1.215rem;}

h4 {font-size: 1.138rem;}

h5 {font-size: 1.067rem;}

small, .text_small {font-size: 0.937rem;}

main {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    min-width: 150px;
}

.img-left {
    float: left;
    margin: 0 1em 0 0;
    transform: translate(10px, 10px) rotate(0deg);
}

.img-right {
    float: right;
    margin: 0 0 0 1em;
}

.img-up {
  float: inline-end;
  margin: 1em 0 0 0;
}

.clearFloat::after{
    clear: both;
    display: table;
    content: "";
}

article p {
    text-align: justify;
    word-break: keep-all;
    hyphens: auto;
}

.aboutCompany ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  height: 80px;
  align-content: center;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: row;
  align-items: center;
  text-align: center;
}


.aboutCompany ul li{
  flex: 1 1 100%; 
}

header.container {
  background: url(../media/images/pexels-photo-7260333pexels.jpeg);
  background-size: 100% auto;
  background-position: 20% 14%;
  background-repeat: no-repeat;
  bottom: 0;
  height: 200px;
}

.aboutCompany ul :hover {
  color: red;
  background-color: rgba(188, 143, 143, 0.205);  
}

.aboutCompany li {
  position: relative;
  
}

ul ul li:hover ul {
  left: 100%;
  top: 0;
  z-index: 200;
}

.aboutCompany ul ul{
  display: none;
  position: absolute;
  left: 0px;
  top: 100%;
  width: 100%;
}

.aboutCompany li:hover > ul {
  display: block;
  padding: 0;
}



/* li:hover a{
  color: red;
} */

.simmilarProductList {
  list-style: none;
}

.aboutCompany li>a {
  color:var(--primary-color);
  text-decoration-line: unset;
}

.aboutCompany li>ul>li>ul>li>a {
  color: var(--alcohol-color);
}

li.noAlcohol a {
  color: var(--no-alcohol-color);
}

.row {
  display: flex;
}

.row .col {
  flex: 1 1 100%
}

.main-content article.product-content {
  flex-grow: 3;
}
@media screen and (min-width: 531px) {
  .main-content .sidebar {
    flex-shrink: 6;
    width: 80px;
  }
}
div.productDetails {
  display: flex;
  flex-wrap: wrap;
}

#productDetailsHeader {
  flex: 0 1 100%;  
  max-width: 100%;
  text-align: center;
}

div.productDetails > ul {
  flex-grow: 1;
}

@keyframes imgAnimation {
  0% {
    
  }
  30% {    
    margin-right: 2px;
  }
  /* 68%, 72% { left: 50px; } */
  60% {
    margin-top: 7px;
    margin-right: 5px;
  }
  100% {
    margin-top: 15px;
    margin-right: 15px;
    
  }
}


.animation:hover img {
  animation: imgAnimation 1s linear 0.5s 1 normal both;
}


@media print {
  .aboutCompany {
    display: none; 
  }

  .sidebar {
    display: none;    
  }

  header.container {
    height: 0;
  }

  footer {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  div.main-content {
    flex-direction: column;
  }
  .sidebar {
    width: 80%;
  }
}